# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Token files
token.json
credentials.json

# Byte-compiled
*.egg-info/
dist/
build/

